<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <listManager role:require="Standalone or ContentManagement">
      <export>
        <field name="Campaign" type="Feature.Listmanager.ContactDataReaders.CampaignContactDataReader, Feature.Listmanager"/>
      </export>
    </listManager>
  </sitecore>
</configuration>
